In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from collections import Counter

In [4]:
data = pd.read_csv("https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv")
data.to_excel("converted.xlsx",index=False,sheet_name='sheet_1')

In [12]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [13]:
data_latih, data_uji = train_test_split(data,test_size=0.2)

In [14]:
print(data_latih.shape[0])
print(data_uji.shape[0])

120
30

In [15]:
label_latih = data_latih.pop('variety')
label_uji = data_uji.pop('variety')

In [16]:
data_uji.head()

     sepal.length  sepal.width  petal.length  petal.width
83            6.0          2.7           5.1          1.6
106           4.9          2.5           4.5          1.7
36            5.5          3.5           1.3          0.2
3             4.6          3.1           1.5          0.2
54            6.5          2.8           4.6          1.5

In [30]:
data_latih.head()

    sepal.length  sepal.width  petal.length  petal.width
42           4.4          3.2           1.3          0.2
41           4.5          2.3           1.3          0.3
68           6.2          2.2           4.5          1.5
79           5.7          2.6           3.5          1.0
49           5.0          3.3           1.4          0.2

In [18]:
def jarakEu (data1, data2):
    jarak = np.square(data1 -data2)
    jarak = np.sum(jarak)
    return np.sqrt(jarak)

In [19]:
jarak = jarakEu(data_latih.iloc[0], data_uji.iloc[0])
print(jarak)

4.382921400162226

In [20]:
def knn(k,datalatih,labellatih,datauji):
    jarak = np.array([jarakEu(datalatih.iloc[x],datauji) for x in range(datalatih.shape[0])])
    indeks_k_minimum = jarak.argsort()[:k]
    k_kelas = labellatih.iloc[indeks_k_minimum].to_numpy()
    counter = Counter(k_kelas)
    kelas_uji = counter.most_common(1)[0][0]
    return kelas_uji

In [21]:
hasil = knn(3, data_latih, label_latih, data_uji.iloc[0])
print(hasil)

Virginica

In [22]:
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier(n_neighbors=3)
KNN.fit(data_latih,label_latih)
kelas = KNN.predict([data_uji.iloc[0]])
print(kelas)

['Virginica']

c:\Users\madda\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\neighbors\_classification.py:211: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

## TUGAS
1. Buatlah fungsi bernama **jarakCity** yang berfungsi menghitung jarak City Block antara dua vektor.
2. Buatlah sebuah fungsi bernama **knn_multi** yang dapat menentukan kelas dari **semua** data uji (Fungsi **knn** yang sudah Anda buat hanya dapat menentukan kelas dari sebuah data uji. Anda dapat memanfaatkan fungsi **knn** yang telah ada
3. Buatlah fungsi bernama **cek_hasil** yang berfungsi membandingkan hasil klasifikasi dengan label sebenarnya. Fungsi ini menerima input 2 buah list, yaitu list label hasil klasifikasi dan list label data uji yang sebenarnya. Output dari fungsi ini adalah integer, yang menunjukkan berapa banyak label hasil klasifikasi yang sama dengan label data uji sebenarnya.
4. Jalankan fungsi **knn_multi** dengan nilai k=3, k=7,k=9 dan k=13. Amati hasil dari fungsi **cek_hasil** dengan nilai k tersebut. Apa kesimpulan Anda?

In [23]:
def jarakCity (data1, data2):
  jarak = np.abs(data1-data2)
  jarak = np.sum(jarak)
  return jarak

In [24]:
def knn_multi(k, datalatih, labellatih, datauji):
  kelas_uji = []
  for i in range(datauji.shape[0]):
    jarak = np.array([jarakCity(datalatih.iloc[x],datauji.iloc[i]) for x in range(datalatih.shape[0])])
    indeks_k_minimum = jarak.argsort()[:k]
    k_kelas = labellatih.iloc[indeks_k_minimum].to_numpy()
    counter = Counter(k_kelas)
    kelas_uji.insert(0,counter.most_common(1)[0][0])
  return kelas_uji

In [25]:
#jawaban soal 3
def cek_hasil(listhasil,listlabel):
  count = 0;
  for i in range(len(listlabel)):
    if (listlabel[i] == listhasil[i]):
      count = count + 1
  return count

In [26]:
#jawaban soal 4
hasil = knn_multi(3, data_latih, label_latih, data_uji)
print(cek_hasil(hasil, label_uji.tolist()))

hasil = knn_multi(7, data_latih, label_latih, data_uji)
print(cek_hasil(hasil, label_uji.tolist()))

hasil = knn_multi(9, data_latih, label_latih, data_uji)
print(cek_hasil(hasil, label_uji.tolist()))

hasil = knn_multi(13, data_latih, label_latih, data_uji)
print(cek_hasil(hasil, label_uji.tolist()))

12
12
12
12