In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import  train_test_split
from collections import Counter

In [3]:
data = pd.read_excel("converted.xlsx")
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

### Cek apakah ada data 0?

In [4]:
condition1 = data['sepal.length']==0.0
condition2 = data['sepal.width']==0.0
condition3 = data['petal.length']==0.0
condition4 = data['petal.width']==0.0
data.loc[condition1|condition2|condition3|condition4]

Empty DataFrame
Columns: [sepal.length, sepal.width, petal.length, petal.width, variety]
Index: []

### Membagi Data Latih dan Uji

In [5]:
data_latih,data_uji = train_test_split(data,test_size=0.2)

In [6]:
print(data_uji.shape[0])
print(data_latih.shape[0])

30
120

### Mengeluarkan label data.

In [7]:
label_latih = data_latih.pop('variety')
label_uji = data_uji.pop('variety')

In [30]:
label_uji.head()

32         Setosa
70     Versicolor
62     Versicolor
132     Virginica
22         Setosa
Name: variety, dtype: object

### Membuat Fungsi Menghitung jara berdasarkan K

In [9]:
def jaraknya(data1,data2):
    jarak = np.square(data2-data1)
    jarak = np.sum(jarak)
    return np.sqrt(jarak)

In [10]:
#testing jarak data latih 1 ke data uji 1
jarak = jaraknya(data_latih.iloc[0], data_uji.iloc[0])
print(jarak)

3.0479501308256336

### KNN (K Nearest Nighbor)

In [11]:
def knn(k,data_latih,label_latih,data_uji):
    jarak = np.array([jaraknya(data_latih.iloc[x],data_uji) for x in range(data_latih.shape[0])])
    # jarak = np.array                          #seperti kode diatasnya
    # for x in range(data_latih.shape[0]):
    #     jarak = np.append(jarak,jaraknya(data_latih.iloc[x],data_uji))
    indeks_k_terkecil = jarak.argsort()[:k]     #diurutkan setelah itu di slicing!
    k_kelas = label_latih.iloc[indeks_k_terkecil].to_numpy()
    counter = Counter(k_kelas)
    kelas_uji = counter.most_common(1)[0][0]
    return kelas_uji

In [12]:
hasil = knn(3,data_latih, label_latih, data_uji.iloc[29])
print(hasil)

Versicolor

### KNN menggunakan SKlearn

In [13]:
from sklearn.neighbors import KNeighborsClassifier 
KNN = KNeighborsClassifier(n_neighbors=3)
KNN.fit(data_latih,label_latih)
sklearn_kelas = KNN.predict([data_uji.iloc[0]])
print(sklearn_kelas)

['Setosa']

c:\Users\madda\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\neighbors\_classification.py:211: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

### Membandingkan hasil dengan Label sebenarnya

In [24]:
data_all = []
for i in range(data_uji.shape[0]):
    hasil = knn(3,data_latih, label_latih, data_uji.iloc[i])
    data_all.append(hasil)

In [51]:
def hasil(hasil_uji, label_uji):
    count = 0
    for i,label in enumerate(label_uji):
        if label != hasil_uji[i]:
            count = count + 1
    return count

In [52]:
test = hasil(data_all,label_uji)
print(test)

2

In [63]:
data_all_series = pd.Series(data_all)
label_uji_series = pd.Series(label_uji).reset_index(drop=True)

combined_df = pd.concat([data_all_series, label_uji_series], axis=1)
combined_df.columns = ['data_all', 'label_uji']
print(combined_df)

      data_all   label_uji
0       Setosa      Setosa
1    Virginica  Versicolor
2   Versicolor  Versicolor
3    Virginica   Virginica
4       Setosa      Setosa
5       Setosa      Setosa
6    Virginica   Virginica
7       Setosa      Setosa
8   Versicolor  Versicolor
9    Virginica   Virginica
10  Versicolor  Versicolor
11      Setosa      Setosa
12  Versicolor  Versicolor
13      Setosa      Setosa
14  Versicolor   Virginica
15   Virginica   Virginica
16   Virginica   Virginica
17      Setosa      Setosa
18  Versicolor  Versicolor
19      Setosa      Setosa
20      Setosa      Setosa
21      Setosa      Setosa
22  Versicolor  Versicolor
23  Versicolor  Versicolor
24      Setosa      Setosa
25      Setosa      Setosa
26   Virginica   Virginica
27      Setosa      Setosa
28      Setosa      Setosa
29  Versicolor  Versicolor